/* fonts */
URxvt.font:         xft:Hack-Regular:size=12,xft:Symbola
URxvt.boldFont:     xft:Hack-Bold:size=12:weight=bold,xft:Symbola
URxvt.italicFont:   xft:Hack-RegularOblique:size=12:slant=italic,xft:Symbola
URxvt*letterSpace: -1

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
URxvt.loginShell:           true
URxvt.saveLines:            600
URxvt.internalBorder:       0
URxvt.lineSpace:            0


! Cursor
 URxvt.cursorBlink:          true
 URxvt.cursorColor:          #fff
 URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true


URxvt* iso14755: False
URxvt* iso14755_52: False

URxvt*termName: rxvt-256color
URxvt.urgentOnBell: true
URxvt.shading:          120
URxvt.mouseWheelScrollPage: true

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false



! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #42f1f4
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
